---
import type {ResumeLink} from '@components/resume/resume-types';
import ContactInfo from './ContactInfo.astro';
import Summary from './Summary.astro';
import {MapPin} from 'lucide';
import LucideIcon from '@components/LucideIcon.astro';

type Props = {
    name: string;
    title: string;
    summary: string;
    location: string;
    links: ResumeLink[];
}

const {name, title, links, summary, location} = Astro.props;
---

<header>
    <div class="title-container">
        <hgroup class="name-title">
            <h1>{name}</h1>
            <p>{title}</p>
            <span><LucideIcon icon={MapPin} class="location-icon"/><span>{location}</span></span>
        </hgroup>
        <ContactInfo {links} />
    </div>
    <Summary {summary} />
</header>

<style>
    h1 {        
        color: var(--gray-12);
        font-size: var(--font-size-6);
        font-weight: var(--font-weight-6);
    }

    .title-container {
        display: flex;
        flex-flow: row nowrap;  
        margin-bottom: var(--size-2);
        align-items: center;
        justify-content: space-between;        
    }

    .name-title {
        /* flex: 1; */
        display: grid;
        grid-template-rows: auto auto;
        grid-template-columns: 1fr auto;                
    }

    .name-title h1 {        
        justify-self: flex-start;
        grid-column: 1 / 3;
    }

    .location-icon {
        aspect-ratio: 1 / 1;
        height: 1em;
        vertical-align: baseline;
    }
</style>