---
import type {ResumeLink} from '@components/resume/resume-types';
import ContactInfo from './ContactInfo.astro';
import Summary from './Summary.astro';

type Props = {
    name: string;
    title: string;
    summary: string;
    links: ResumeLink[];
}

const {name, title, links, summary} = Astro.props;
---

<header>
    <div class="title-container">
        <hgroup class="name-title">
            <h1>{name}</h1>
            <p>{title}</p>
        </hgroup>
        <ContactInfo {links} />
    </div>
    <Summary {summary} />
</header>

<style>
    h1 {        
        color: var(--gray-12);
        font-size: var(--font-size-6);
        font-weight: var(--font-weight-6);
    }

    .title-container {
        display: flex;
        flex-flow: row nowrap;  
        margin-bottom: var(--size-2);
        align-items: center;
    }

    .name-title {
        flex: 1;
    }
</style>