---
import LucideIcon from '@components/LucideIcon.astro';
import {Phone, Mail, Link2 } from 'lucide';
import LinkedInIcon from '@components/icons/LinkedInIcon.astro'
import GitHubIcon from '@components/icons/GithubIcon.astro';

import type {HTMLAttributes} from 'astro/types'

type Props = {
    type: 'phone' | 'email' | 'linkedin' | 'github' | 'website' | string;
    url?: string;
    value: string;         
} & HTMLAttributes<'div'>

const {type, value, url, class:className, ...props} = Astro.props;
---

<div class:list={['contact-method', className]} {...props}>
    {type === 'phone' && <LucideIcon icon={Phone} class="icon"/>}
    {type === 'email' && <LucideIcon icon={Mail} class="icon"/>}
    {type === 'website' && <LucideIcon icon={Link2} class="icon"/>}
    {type === 'linkedin' && <LinkedInIcon class="icon"/>}
    {type === 'github' && <GitHubIcon class="icon"/>}
    {url ? <a href={url}>{value}</a> : <span>{value}</span>}    
</div>

<style>
    .icon {              
        width: auto;
        height: 1.2em;
        aspect-ratio: 1 / 1;
    }

    .contact-method {
        font-size: var(--font-size);
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        gap: var(--size-1);
    }

    a {
        color: inherit;
        text-decoration-color: inherit;
    }


</style>
