---
import {getEntry} from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import PrintButton from '../components/PrintButton.astro';

import ContactInfo from '../components/resume/ContactInfo.astro';
import ResumeSection from '../components/resume/ResumeSection.astro';
import Company from '../components/resume/Company.astro';
import PageBreak from '../components/resume/PageBreak.astro';

const {data: resume} = await getEntry('resume', 'resume');
const {title, contact, summary, history} = resume;

const historySlice = 3;
---

<BaseLayout title="Ryan Sheehan Resume" description="Resume for Ryan Sheehan" headerClass='resume' footerClass='resume'>
    <article>
        <div class="page">
            <header>                                
                <hgroup class="name-title">
                    <h1>{contact.name}</h1>
                    <p>{title}</p>
                </hgroup>
                <aside class="contact-info">
                    <ContactInfo type="email" value={contact.email} />   
                    <!-- <ContactInfo type="phone" value={contact.phone} /> -->
                    {contact.links.map(({name, display}) => <ContactInfo type={name} value={display}/>)}             
                </aside>
            </header>
            <summary>{summary}</summary>
            <ResumeSection title="experience">
                <ul class="experience">{
                    history.slice(0, historySlice).map((company) => (<Company {...company} />))
                }</ul>
            </ResumeSection>                        
            <PrintButton class="print-button" />
        </div>           
        <PageBreak />
        <div class="page">
            <!-- <ResumeSection title="experience">
                <ul class="experience">{
                    history.slice(historySlice).map((company) => (<Company {...company} />))
                }</ul>
            </ResumeSection> -->
            <ResumeSection title="Education">

            </ResumeSection>
            <ResumeSection title="Skills">

            </ResumeSection>
            <ResumeSection title="Strengths">

            </ResumeSection>
        </div>           
    </article>
</BaseLayout>

<style>
    header {
        display: flex;
        flex-flow: row nowrap;          
    }

    :global(.experience) {  
        padding: 0;      
        display: grid;
        align-items: baseline;
        grid-template-columns: 
            [content-start location-start] auto
            [gap-start location-end] 1fr [gap-end duration-start]
            auto [duration-end content-end];
        grid-auto-rows: auto;
        row-gap: var(--size-3);
    }

    .name-title {
        flex: 1;
    }

    .contact-info {
        --font-size: var(--font-size-0);
        /* margin-block-end: var(--size-2); */
        display: grid;
        align-self: flex-end;
        align-items: flex-end;
        column-gap: var(--size-3);
        row-gap: var(--size-1);;
        grid-template-columns: max-content max-content;
        grid-auto-rows: min-content;        
    }

    .page > * {
        max-inline-size: 100%;
    }

    .page > *:not(:first-child) {        
        margin-block-start: var(--size-4);
    }

    h1 {        
        color: var(--gray-12);
        font-size: var(--font-size-6);
        font-weight: var(--font-weight-6);
    }

    h2 {        
        font-size: var(--font-size-4);
        font-weight: var(--font-weight-2);
    }

    summary {
        font-size: var(--font-size-1);
        max-inline-size: 100%;
        margin: 0;
        background-color: var(--gray-3);
    }

    article {     
        --page-margin-inline: 0.5in;
        --page-margin-block: 0.33in;
                        
        padding-block: var(--size-4);

        /* position: relative; */
    }

    .print-button {  
        --button-size: var(--size-8);   
        --color: var(--brand);
        --background-color: var(--gray-4);


        width: var(--button-size);        
        
        top: var(--size-00);
        right: var(--size-2);
        position: absolute;
        z-index: 10;        
    }   

    .page {        
        background-color: var(--gray-0);        
        color: var(--gray-12);
        position: relative;

        width: 8.5in;
        height: 11in;
        padding: var(--page-margin-block) var(--page-margin-inline);
        /* overflow: hidden; */

        margin-inline: auto; 
        box-shadow: var(--shadow-4);
    }

    .page:not(:first-child) {
        margin-top: var(--size-4);
    }

    @media print {
        :global(header.resume, footer.resume, .print-button, astro-dev-toolbar) {
            display: none !important;
        }

        article {                                
            margin: 0;
            padding: 0;
        }

        .page {                                    
            margin-inline: 0;
            box-shadow: none;
        }
    }
</style>
