---
import type { CollectionEntry } from 'astro:content';
import {Image} from 'astro:assets';
import FormattedDate from '@components/FormattedDate.astro';
import BaseLayout from '@layouts/BaseLayout.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate=new Date(), updatedDate, heroImage } = Astro.props;
---

<BaseLayout {title} {description}>
	<article class="content-grid">
		{heroImage && <Image width={1020} height={510} src={heroImage} alt="" class="full-width"/>}
		<div class="title">
			<div class="date">
				<FormattedDate date={pubDate} />
				{
					updatedDate && (
						<div class="last-updated-on">
							Last updated on <FormattedDate date={updatedDate} />
						</div>
					)
				}
			</div>
			<h1>{title}</h1>
			
		</div>		
		<slot />
	</article>
</BaseLayout>

<style>
	h1 {
		font-size: var(--font-size-fluid-3);		
		max-inline-size: var(--size-header-3);
		padding-block-end: var(--size-2);
	}

	.date {		
		color: var(--text-2);
		font-style: italic;
	}

	.last-updated-on {
		font-style: italic;
	}

</style>